## Step one: Get the data from the FCC FM radio query
There are lots of options but I queried a text file with all radio stations. The columns are given by the "FCC

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

this time around I will download 2 seperate queries (commericial and nonprofit)
Thank you to https://simplemaps.com/data/us-cities

In [2]:
column_names = ['z',
                'Callsign',
                'Frequency',
                'Service' ,
                'Channel',
                'DA or ND' ,
                'Not Used for FM',
                'FM Station Class',
                'y',
                'FM Status',
                'City',
                'State',
                'Country',
                'File Number (Application, Construction Permit or License) or Docket Number (Rulemaking)',
                'Effective Radiated Power horizontally',
                'Effective Radiated Power vertically',
                'Antenna Height Above Average Terrain (HAAT) -- horizontal polarization',
                'Antenna Height Above Average Terrain (HAAT) -- vertical polarization',
                'Facility ID Number (unique to each station)',
                'N (North) or S (South) Latitude',
                'Degrees Latitude',
                'Minutes Latitude',
                'Seconds Latitude',
                'W (West) or (E) East Longitude',
                'Degrees Longitude',
                'Minutes Longitude',
                'Seconds Longitude',
                'Licensee or Permittee',
                'Kilometers distant (radius) from entered latitude, longitude',
                'Miles distant (radius) from entered latitude, longitude',
                'Azimuth, looking from center Lat, Lon to this records Lat, Lon',
                'Antenna Radiation Center Above Mean Sea Level (RCAMSL) - Horizontally Polarized - meters',
                'Antenna Radiation Center Above Mean Sea Level (RCAMSL) - Vertically Polarized - meters',
                'Directional Antenna ID Number',   
                'Directional Antenna Pattern Rotation (degrees)',            
                'Antenna Structure Registration Number',
                'Height of antenna radiation center above ground level (maximum) (physical center of the antenna)',
                'Application ID number (from CDBS database)',
                'LMS Application ID',
                'x']

In [3]:
len(column_names)

40

In [4]:
# read in data. it is a pipe delimited text file 'data/fcc_fm_query.txt' with no header
# df = pd.read_csv('../data/fcc_fm_commercial.txt', sep='|', header=None)
# df.head()


# ParserError: Error tokenizing data. C error: Expected 28 fields in line 475, saw  ----40 uh oh

Bad encoding .... gotta get rid of the new lines after the owner (feature 28) should have 40 total columns

In [5]:
# Read the content of the text file
with open('../data/fcc_fm_commercial.txt', 'r') as file:
    data = file.read()

# Remove new lines within rows 
cleaned_data = data.replace('\n ', '')

# Write the cleaned data back to the file
with open('../data/fcc_fm_commercial_cleaned.txt', 'w') as file:
    file.write(cleaned_data)

Commercial Stations

In [6]:
# Read the cleaned data back into a dataframe
df = pd.read_csv('../data/fcc_fm_commercial_cleaned.txt', sep='|', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,NaN,K201CL,88.1 MHz,FX,201,ND,-,D,-,LIC,...,0.00 deg,0.0 m,42. m,31326,-,-,12. m,1364607.0,a751fb3559f54d08aef5c1b6063ebeb7,NaN
1,NaN,WSJL,88.1 MHz,FM,201,DA,-,A,-,LIC,...,0.00 deg,0.0 m,254. m,13374,0.,1019712,66. m,1564228.0,4974067c949a4731af1ec1b6063ebeb7,NaN
2,NaN,KBAP,88.1 MHz,FM,201,ND,-,A,-,LIC,...,0.00 deg,181. m,0.0 m,-,-,-,17. m,1411889.0,8f5d3abb1cb142f08aefc1b6063ebeb7,NaN
3,NaN,K201ER,88.1 MHz,FX,201,ND,-,D,-,LIC,...,0.00 deg,1624. m,1624.0 m,30889,-,1002376,30. m,492632.0,95888c9301ea4b3a9fbcc1b6063ebeb7,NaN
4,NaN,KECG,88.1 MHz,FM,201,ND,-,D,-,LIC,...,0.00 deg,63. m,63.0 m,-,-,-,29. m,1076164.0,8d79f211f9c44b71bec3c1b6063ebeb7,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12164 entries, 0 to 12163
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      float64
 1   1       12164 non-null  object
 2   2       12164 non-null  object
 3   3       12164 non-null  object
 4   4       12164 non-null  object
 5   5       12164 non-null  object
 6   6       12164 non-null  object
 7   7       12164 non-null  object
 8   8       12164 non-null  object
 9   9       12164 non-null  object
 10  10      12164 non-null  object
 11  11      12164 non-null  object
 12  12      12163 non-null  object
 13  13      12163 non-null  object
 14  14      12163 non-null  object
 15  15      12163 non-null  object
 16  16      12163 non-null  object
 17  17      12163 non-null  object
 18  18      12163 non-null  float64
 19  19      12163 non-null  object
 20  20      12163 non-null  object
 21  21      12163 non-null  object
 22  22      12163 non-null  object
 23  23      12163 non-null  object
 24  24      12163 non-null  object
 25  25      12163 non-null  object
 26  26      12163 non-null  object
 27  27      12163 non-null  object
 28  28      12162 non-null  object
 29  29      12162 non-null  object
 30  30      12162 non-null  object
 31  31      12162 non-null  object
 32  32      12162 non-null  object
 33  33      12162 non-null  object
 34  34      12162 non-null  object
 35  35      12162 non-null  object
 36  36      12162 non-null  object
 37  37      12162 non-null  float64
 38  38      12162 non-null  object
 39  39      0 non-null      float64
dtypes: float64(4), object(36)
memory usage: 3.7+ MB

In [8]:
# now with the edu stations
# Read the content of the text file
with open('../data/fcc_fm_edu.txt', 'r') as file:
    data = file.read()

# Remove new lines within rows 
cleaned_data = data.replace('\n ', '')

# Write the cleaned data back to the file
with open('../data/fcc_fm_edu_cleaned.txt', 'w') as file:
    file.write(cleaned_data)

In [9]:
df_edu = pd.read_csv('../data/fcc_fm_edu_cleaned.txt', sep='|', header=None)
df_edu.head()

C:\Users\seanh\AppData\Local\Temp\ipykernel_904\4279399174.py:1: DtypeWarning: Columns (4,20,21,22,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_edu = pd.read_csv('../data/fcc_fm_edu_cleaned.txt', sep='|', header=None)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,NaN,KKQA,88.1 MHz,FM,201,ND,-,D,-,CP,...,0.00 deg,26. m,26.0 m,6902019008006,-,-,13. m,2037197.0,25076f917493d0500174997ff17f0327,NaN
1,NaN,KRUA,88.1 MHz,FM,201,ND,-,A,-,LIC,...,0.00 deg,619. m,619.0 m,1010404,-,1204036,41. m,207895.0,25076f9185631e9b01858312701405a6,NaN
2,NaN,K201CH,88.1 MHz,FX,201,ND,-,D,-,LIC,...,0.00 deg,0.0 m,26. m,-,-,-,0. m,190597.0,12cd8e4135cd45eb851ac1b6063ebeb7,NaN
3,NaN,KCUK,88.1 MHz,FM,201,ND,-,A,-,STA,...,0.00 deg,21. m,21.0 m,6902019008006,-,-,15. m,201689.0,25076ff3838b52d501838bd6953d0000,NaN
4,NaN,KCUK,88.1 MHz,FM,201,ND,-,A,-,STA,...,0.00 deg,14. m,14.0 m,6902019008006,-,-,12. m,203543.0,25076f9184355aa301845281efdc05ba,NaN

In [10]:
df_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18094 entries, 0 to 18093
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      float64
 1   1       18094 non-null  object
 2   2       18094 non-null  object
 3   3       18094 non-null  object
 4   4       18094 non-null  object
 5   5       18094 non-null  object
 6   6       18094 non-null  object
 7   7       18094 non-null  object
 8   8       18094 non-null  object
 9   9       18094 non-null  object
 10  10      18094 non-null  object
 11  11      18094 non-null  object
 12  12      18086 non-null  object
 13  13      18086 non-null  object
 14  14      18086 non-null  object
 15  15      18086 non-null  object
 16  16      18086 non-null  object
 17  17      18086 non-null  object
 18  18      18086 non-null  float64
 19  19      18086 non-null  object
 20  20      18086 non-null  object
 21  21      18086 non-null  object
 22  22      18086 non-null  object
 23  23      18086 non-null  object
 24  24      18086 non-null  object
 25  25      18086 non-null  object
 26  26      18086 non-null  object
 27  27      18086 non-null  object
 28  28      18078 non-null  object
 29  29      18078 non-null  object
 30  30      18078 non-null  object
 31  31      18078 non-null  object
 32  32      18078 non-null  object
 33  33      18078 non-null  object
 34  34      18078 non-null  object
 35  35      18078 non-null  object
 36  36      18078 non-null  object
 37  37      18078 non-null  float64
 38  38      18078 non-null  object
 39  39      0 non-null      float64
dtypes: float64(4), object(36)
memory usage: 5.5+ MB